<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="modern-tabs mb-5">
        <ul class="nav nav-tabs" id="filledTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab">
                        Invesment Overview
                    </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab">
                        portfolio Insights
                    </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab">
                        Recommendations
                    </button>
            </li>
        </ul>
        <div class="tab-content" id="filledTabsContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel">
                <div class="container-fluid">
                    <div class="row ">
                        <div class="col-xl-3 col-lg-3 px-0">
                            <div class="card l-bg-cherry">
                                <div class="card-statistic-3 p-4">
                                    <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                                    <div class="mb-4">
                                        <h5 class="card-title mb-0">Total Invesment</h5>
                                    </div>
                                    <div class="row align-items-center mb-2 d-flex">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center mb-0">
                                                &#8377; 1,48,000
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                        <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 pe-0">
                            <div class="card l-bg-blue-dark">
                                <div class="card-statistic-3 p-4">
                                    <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                                    <div class="mb-4">
                                        <h5 class="card-title mb-0">Current Value</h5>
                                    </div>
                                    <div class="row align-items-center mb-2 d-flex">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center mb-0">
                                                &#8377; 1,78,000
                                            </h2>
                                        </div>
                                        <div class="col-4 text-right">
                                            <span>9.23% <i class="fa fa-arrow-up"></i></span>
                                        </div>
                                    </div>
                                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                        <div class="progress-bar l-bg-green" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 pe-0">
                            <div class="card l-bg-green-dark">
                                <div class="card-statistic-3 p-4">
                                    <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                                    <div class="mb-4">
                                        <h5 class="card-title mb-0">Growth</h5>
                                    </div>
                                    <div class="row align-items-center mb-2 d-flex">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center mb-0">
                                                578
                                            </h2>
                                        </div>
                                        <div class="col-4 text-right">
                                            <span>10% <i class="fa fa-arrow-up"></i></span>
                                        </div>
                                    </div>
                                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                        <div class="progress-bar l-bg-orange" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 pe-0">
                            <div class="card l-bg-orange-dark">
                                <div class="card-statistic-3 p-4">
                                    <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                                    <div class="mb-4">
                                        <h5 class="card-title mb-0">Unrealised P&L</h5>
                                    </div>
                                    <div class="row align-items-center mb-2 d-flex">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center mb-0">
                                                $11.61k
                                            </h2>
                                        </div>
                                        <div class="col-4 text-right">
                                            <span>2.5% <i class="fa fa-arrow-up"></i></span>
                                        </div>
                                    </div>
                                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                        <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        
                            <div class="panel">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col col-sm-3 col-xs-12">
                                            <h4 class="title">Your Holdings</h4>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="panel-body table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Company Name</th>
                                                <th>No.of Shares</th>
                                                <th>Avg Cost</th>
                                                <th>LTP</th>
                                                <th>Invested Amt</th>
                                                <th>P&L</th>
                                                <th>Net Change</th>
                                                <th>Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>GoldBees</td>
                                                <td>15</td>
                                                <td>&#8377;66.73</td>
                                                <td>&#8377;58</td>
                                                <td>&#8377;1000</td>
                                                <td>+&#8377;1,428.00</td>
                                                <td>+18.00%</td>
                                                <td>
                                                    <button class="btn btn-secondary rounded btn-sm">View Details</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>GoldBees</td>
                                                <td>15</td>
                                                <td>&#8377;66.73</td>
                                                <td>&#8377;58</td>
                                                <td>&#8377;1000</td>
                                                <td>+&#8377;1,428.00</td>
                                                <td>+18.00%</td>
                                                <td>
                                                    <button class="btn btn-secondary rounded btn-sm">View Details</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>GoldBees</td>
                                                <td>15</td>
                                                <td>&#8377;66.73</td>
                                                <td>&#8377;58</td>
                                                <td>&#8377;1000</td>
                                                <td>+&#8377;1,428.00</td>
                                                <td>+18.00%</td>
                                                <td>
                                                    <button class="btn btn-secondary rounded btn-sm">View Details</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>GoldBees</td>
                                                <td>15</td>
                                                <td>&#8377;66.73</td>
                                                <td>&#8377;58</td>
                                                <td>&#8377;1000</td>
                                                <td>+&#8377;1,428.00</td>
                                                <td>+18.00%</td>
                                                <td>
                                                    <button class="btn btn-secondary rounded btn-sm">View Details</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>GoldBees</td>
                                                <td>15</td>
                                                <td>&#8377;66.73</td>
                                                <td>&#8377;58</td>
                                                <td>&#8377;1000</td>
                                                <td>+&#8377;1,428.00</td>
                                                <td>+18.00%</td>
                                                <td>
                                                    <button class="btn btn-secondary rounded btn-sm">View Details</button>
                                                </td>
                                            </tr>
                                            
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col col-sm-6 col-xs-6">showing <b>5</b> out of <b>25</b> entries</div>
                                        <div class="col-sm-6 col-xs-6">
                                            <ul class="pagination hidden-xs float-end">
                                                <li><a href="#"><</a></li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li><a href="#">></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel">
                <h4>Profile Content</h4>
                <p>This is the profile tab content with modern filled style.</p>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel">
                <div class="panel" id="intrapanel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-sm-3 col-xs-12">
                                <h5 class="h5 text-white">Intraday Recommendations</h5>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Company Name</th>
                                    <th>No.of Shares</th>
                                    <th>Avg Cost</th>
                                    <th>LTP</th>
                                    <th>Invested Amt</th>
                                    <th>P&L</th>
                                    <th>Net Change</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>GoldBees</td>
                                    <td>15</td>
                                    <td>&#8377;66.73</td>
                                    <td>&#8377;58</td>
                                    <td>&#8377;1000</td>
                                    <td>+&#8377;1,428.00</td>
                                    <td>+18.00%</td>
                                    <td>
                                        <button class="btn btn-secondary rounded btn-sm">View Details</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>GoldBees</td>
                                    <td>15</td>
                                    <td>&#8377;66.73</td>
                                    <td>&#8377;58</td>
                                    <td>&#8377;1000</td>
                                    <td>+&#8377;1,428.00</td>
                                    <td>+18.00%</td>
                                    <td>
                                        <button class="btn btn-secondary rounded btn-sm">View Details</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>GoldBees</td>
                                    <td>15</td>
                                    <td>&#8377;66.73</td>
                                    <td>&#8377;58</td>
                                    <td>&#8377;1000</td>
                                    <td>+&#8377;1,428.00</td>
                                    <td>+18.00%</td>
                                    <td>
                                        <button class="btn btn-secondary rounded btn-sm">View Details</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel mt-4" id="short-term-panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-sm-3 col-xs-12">
                                <h5 class="h5 text-white">Short-term Recommendations</h5>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Company Name</th>
                                    <th>No.of Shares</th>
                                    <th>Avg Cost</th>
                                    <th>LTP</th>
                                    <th>Invested Amt</th>
                                    <th>P&L</th>
                                    <th>Net Change</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>GoldBees</td>
                                    <td>15</td>
                                    <td>&#8377;66.73</td>
                                    <td>&#8377;58</td>
                                    <td>&#8377;1000</td>
                                    <td>+&#8377;1,428.00</td>
                                    <td>+18.00%</td>
                                    <td>
                                        <button class="btn btn-secondary rounded btn-sm">View Details</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>GoldBees</td>
                                    <td>15</td>
                                    <td>&#8377;66.73</td>
                                    <td>&#8377;58</td>
                                    <td>&#8377;1000</td>
                                    <td>+&#8377;1,428.00</td>
                                    <td>+18.00%</td>
                                    <td>
                                        <button class="btn btn-secondary rounded btn-sm">View Details</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>GoldBees</td>
                                    <td>15</td>
                                    <td>&#8377;66.73</td>
                                    <td>&#8377;58</td>
                                    <td>&#8377;1000</td>
                                    <td>+&#8377;1,428.00</td>
                                    <td>+18.00%</td>
                                    <td>
                                        <button class="btn btn-secondary rounded btn-sm">View Details</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel mt-4" id="mid-term-panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-sm-3 col-xs-12">
                                <h5 class="h5 text-white">Mid-term Recommendations</h5>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Company Name</th>
                                    <th>No.of Shares</th>
                                    <th>Avg Cost</th>
                                    <th>LTP</th>
                                    <th>Invested Amt</th>
                                    <th>P&L</th>
                                    <th>Net Change</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>GoldBees</td>
                                    <td>15</td>
                                    <td>&#8377;66.73</td>
                                    <td>&#8377;58</td>
                                    <td>&#8377;1000</td>
                                    <td>+&#8377;1,428.00</td>
                                    <td>+18.00%</td>
                                    <td>
                                        <button class="btn btn-secondary rounded btn-sm">View Details</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>GoldBees</td>
                                    <td>15</td>
                                    <td>&#8377;66.73</td>
                                    <td>&#8377;58</td>
                                    <td>&#8377;1000</td>
                                    <td>+&#8377;1,428.00</td>
                                    <td>+18.00%</td>
                                    <td>
                                        <button class="btn btn-secondary rounded btn-sm">View Details</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>GoldBees</td>
                                    <td>15</td>
                                    <td>&#8377;66.73</td>
                                    <td>&#8377;58</td>
                                    <td>&#8377;1000</td>
                                    <td>+&#8377;1,428.00</td>
                                    <td>+18.00%</td>
                                    <td>
                                        <button class="btn btn-secondary rounded btn-sm">View Details</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel mt-4" id="long-term-panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-sm-3 col-xs-12">
                                <h5 class="h5 text-white">Long-term Recommendations</h5>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Company Name</th>
                                    <th>No.of Shares</th>
                                    <th>Avg Cost</th>
                                    <th>LTP</th>
                                    <th>Invested Amt</th>
                                    <th>P&L</th>
                                    <th>Net Change</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>GoldBees</td>
                                    <td>15</td>
                                    <td>&#8377;66.73</td>
                                    <td>&#8377;58</td>
                                    <td>&#8377;1000</td>
                                    <td>+&#8377;1,428.00</td>
                                    <td>+18.00%</td>
                                    <td>
                                        <button class="btn btn-secondary rounded btn-sm">View Details</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>GoldBees</td>
                                    <td>15</td>
                                    <td>&#8377;66.73</td>
                                    <td>&#8377;58</td>
                                    <td>&#8377;1000</td>
                                    <td>+&#8377;1,428.00</td>
                                    <td>+18.00%</td>
                                    <td>
                                        <button class="btn btn-secondary rounded btn-sm">View Details</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>GoldBees</td>
                                    <td>15</td>
                                    <td>&#8377;66.73</td>
                                    <td>&#8377;58</td>
                                    <td>&#8377;1000</td>
                                    <td>+&#8377;1,428.00</td>
                                    <td>+18.00%</td>
                                    <td>
                                        <button class="btn btn-secondary rounded btn-sm">View Details</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
