/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';


.background-radial-gradient{
    background-image: url('app/assets/images/bg.jpg');
    background-size: cover;
    height: 100vh;
}